body {
  /* Define global body styles if needed. */
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; /* Center align content */
  width: 1000px;
  padding: 25px;
}

.options-header {
  min-height: 100px; /* Set a fixed height for the header */
  font-size: calc(10px + 2vmin);
  color: white;
}

.theme-form {
  display: flex;
  align-items: center; /* Center align form elements */
}

/* Light Theme Styles */
.options.light {
  background-color: #f4f4f4;
}

.options-header.light {
  background-color: #282c34;
  color: #333;
}

.section-title.light {
  color: #333; 
}

.options.dark {
  background-color: #333; 
}

.options-header.dark {
  background-color: #f4f4f4;
  color: #333;
}

.section-title.dark {
  color: #333; 
}
