.popup{
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 200px;
  width: 600px;
  background-color: #3d4851;
  color: white;
  overflow-y: auto;
}
.search-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  height:auto;
  border-right: 1px solid white;
}
.input-wrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.search {
  max-width: 200px;
  height: 25px;
  padding-left: 10px;
  border-radius: 15px;
  margin-bottom: 5px;
  background-color: #404040;
  border: none;
}
.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recommended-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;

}
.quick-search-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.title-text {
  margin-top: 0;
  margin-bottom: 5px;
}